<p id="notice"><%= notice %></p>

<h1 class="text-center mt-5">Welcome to the Shipment Printer!</h1>

<p class="text-center">Would you like to create a shipment label?</p>
<div class="text-center">
  <%= link_to 'Create Label', new_shipment_printer_path %>
</div>
